* {
    font-family: 'EB Garamond', sans-serif;
    --alto-header: 173px;
}

h2 {
    color: var(--color-oscuro);
    margin: 0;
    padding: 2px 2px 2px 4px;
}
h3 {
    margin: 0;
    padding: 10px;
}
p {
    font-style: italic;
    font-weight: 500;
    padding: 0 0 8px 0;
    margin: 0;
}
a, a:visited {
    font-style: italic;
    margin: 0;
    color: var(--color-oscuro);
}
a:visited, a:hover {
    text-decoration: none;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, var(--color-claro) 52%, var(--color-oscuro) 76%);
}
header {
    overflow: auto;
    position: sticky;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 5px 5px 15px 5px var(--color-oscuro); 
    box-shadow: 5px 5px 15px 5px var(--color-oscuro);
    margin: 0 0 10px 0; 
    z-index: 3;
}
footer {
    display: flex;
    overflow: auto;
    background: linear-gradient(to right, var(--color-claro) 20%, var(--color-oscuro) 50%);
}

img {
    border-radius: 100%;
    width: auto;
    vertical-align: middle;
    cursor: pointer;
}


.tema_claro {
    --color-oscuro: #2f2f3a;
    --color-claro: #78a1bb;
    --color-base: #eff9f2;
}
.tema_oscuro {
    --color-oscuro: #030e14;
    --color-claro: #628397;
    --color-base: #2f2f3a;
}

.azul {
    background-color:var(--color-oscuro);
    color: var(--color-claro);
}
.celeste {
    background-color: var(--color-claro);
    color: var(--color-base);
}
.blanco {
    background-color: var(--color-base);
    color:var(--color-claro);
}

.iconos {
    background-color: var(--color-claro);
    color: var(--color-oscuro);
}

/* --- Header --- */
#barra_superior {
    display: flex;
    margin-top: 8px;
}
#titulo_cv {
    overflow: auto;
    text-align: left;
    font-weight: 400;
    margin: 0 0 0 16px;
}
#google_translate_element {
    overflow: auto;
    margin-left: auto;
    margin-right: 16px;
}

#foto {
    height: 100px;
    width: auto;
    padding: 16px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}
#foto:hover {
    opacity: 0.7;
    scale: 1.1;
}
/* Fondo del módulo */
.modulo {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 5%; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.9); 
}
/* Contenido del módulo */
.contenido_modulo {
    margin: auto;
    display: block;
    max-width: calc(100% - 10px);
    height: auto;
    border-radius: 20%;
}
/* Zoom */
.contenido_modulo {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* Botón para cerrar */
.cerrar {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.cerrar:hover,
.cerrar:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#foto_nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden ;
}
#nombre {
    padding-left: 40px;
}

/* --- Secciones de datos --- */
#datos {
    display: flex;
    max-height: auto;
}
#barra_datos {
    overflow: auto;
    width: 20%;
    text-align: center;
    color: var(--color-oscuro);
    position: fixed;
}
#barra_datos > h3 {
    padding-bottom: 8px;
}

#barra_info {
    padding-left: 20%;
    overflow: auto;
    width: 80%;
    min-height: calc(100vh - var(--alto-header));
}
.info {
    padding-left: 20px;
}

.info > p {
    padding: 0 0 16px 0;
}

.titulo_bloque {
    display: flex;
    background: linear-gradient(to right, var(--color-claro) 40%, var(--color-oscuro) 70%);
}

.oculto {
    display: none;
}

/* --- Footer --- */
#botones{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
button {
    border: 0;
    padding: 8px;
    cursor: pointer;
    border-radius: 100%;
}
button:hover {
    opacity: 0.7;
}

#link_plantilla {
    font-size: 13px;
    color: var(--color-claro);
}
#icono_github, #icono_tema {
    margin-left: 5px;
}
#switch,  #plantilla{
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
}
