* {
    font-family: 'EB Garamond', sans-serif;
}

h1 {
    text-shadow: 1px 1px 2px var(--color-claro);
}
h2 {
    margin: 0;
    padding: 2px
}
h3 {
    margin: 0;
    padding: 10px;
}
p {
    font-style: italic;
    font-weight: 500;
    margin: 0 0 16px 0;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header {
    overflow: auto;
}
footer {
    display: flex;
    overflow: auto;
}

img {
    border-radius: 100%;
    width: auto;
    vertical-align: middle;
}

.tema_claro {
    --color-oscuro: #2f2f3a;
    --color-claro: #78a1bb;
    --color-base: #eff9f2;
}
.tema_oscuro {
    --color-oscuro: #acacb4;
    --color-claro: #1c3b4e;
    --color-base: #070316;
}

.azul {
    background-color:var(--color-oscuro);
    color: var(--color-claro);
}
.celeste {
    background-color: var(--color-claro);
    color: var(--color-base);
}
.blanco {
    background-color: var(--color-base);
    color:var(--color-claro);
}

.iconos {
    background-color: var(--color-claro);
    color: var(--color-oscuro);
}

#barra_superior {
    display: flex;
    margin-top: 16px;
}
#titulo_cv {
    overflow: auto;
    text-align: left;
    font-weight: 400;
    margin: 0 0 0 16px;
}
#google_translate_element {
    overflow: auto;
    margin-left: auto;
    margin-right: 16px;
}

#foto {
    height: 100px;
    width: auto;
    padding: 16px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}
#foto:hover {
    opacity: 0.7;
    scale: 1.1;
}
/* Fondo del módulo */
.modulo {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 2%; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
}
/* Contenido del módulo */
.contenido_modulo {
    margin: auto;
    display: block;
    max-height: 100vh;
    width: auto;
}
/* Zoom */
.contenido_modulo {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* Botón para cerrar */
.cerrar {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.cerrar:hover,
.cerrar:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#foto_nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden ;
}
#nombre {
    padding-left: 40px;
}

#datos {
    display: flex;
}
#barra_datos {
    overflow: auto;
    width: 20%;
    height: 100vh;
    text-align: center;
    padding-top: 20px;
}
#barra_info {
    overflow: auto;
    width: 80%;
    height: 100vh;
    background-color: var(--color-base);
}
#info1, #info2, #info3, #info4 {
    padding-left: 20px;
}

.bloque_info {
    border: solid 3px var(--color-claro);
    border-left: 0px;
}
.titulo_bloque {
    display: flex;
    border-bottom: solid 3px var(--color-claro);
}

.oculto {
    display: none;
}

#botones{
    margin-left: auto;
    display: flex;
}
button {
    border: 0;
    padding: 8px;
}

#icono_github, #icono_tema {
    margin-left: 5px;
}
#switch,  #plantilla{
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}